<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello world!</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      background-color: black;
      width: 100%;
      padding-bottom: 4rem;
      text-align: center;
      color: whitesmoke;
    }
    .title {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 3rem;
      font-weight: bold;
    }
    img {
      margin-top: 4rem;
    }
    .container {
      margin-top: 200px;
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="container">
    <span class="title">Hello World View Page!<span><br>
    <img width="600" src="https://i.imgur.com/sWe4O2c.png"/>
  </div>
</body>
</html>